            @font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            


body, div, h1, p{margin: 0;}
body{ position: relative; background: black;
	}
h1, p{ color: white;
		font-family: 'MapoGoldenPier';}
p{line-height: 27px; word-break: keep-all;}

::-webkit-scrollbar {display:none;}

#bodyy{
	position: fixed; 
	overflow-y: scroll;
	width: 100%;
}

#moniter{width: 80px; height: 30px; background: black; color: white; position: fixed; top: 0; right: 0;}

		@keyframes lo{
				from{left: -100px;} to{left: 0px;}
			}
		@keyframes ro{
				from{right: 100px;} to{right: 0px;}
			}


.warp{
	width: 1200px; height: 5200px; position: absolute;
	left: calc(50% - 600px);
	background: black;
	overflow: hidden;
}


/*이미지 css*/

.cell1{
	position: absolute;
	left: calc(50% - 34px);
	top: 200px;
	cursor:pointer;
	transition: all 0.5s;
}

.cell1:hover{
	-webkit-filter: contrast(5);
}

#bigger{
	position: absolute;
	top: 250px;
	overflow: visible;
	display: block;
}

#back0{
	position: absolute;
	background: url(../imgdoong/background.gif);
	width: 1200px; height: 5500px;
	top: 1100px;
}

#back1{
	position: absolute;
	left: -10px;
	top: 1200px;

}

#back2{
	position: absolute;
	right: -5px;
	top: 1700px;

}

#back3{
	position: absolute;
	left: -15px;
	top: 2600px;

}

#back3-1{
	position: absolute;
	left: -15px;
	bottom: 0px;

}

#back4{
	position: absolute;
	right: 0px;
	top: 1300px;

}

#back5{
	position: absolute;
	right: -10px;
	top: 1400px;

}

#rain1{
	position: absolute;
	left: 214px;
	animation: rr 3s infinite ease-in;
}
#rain2{
	position: absolute;
	left: 279px;
	animation: rr 3s 1.3s infinite ease-in;
}
#rain3{
	position: absolute;
	left: 347px;
	animation: rr 3s 2.1s infinite ease-in;
}
#rain4{
	position: absolute;
	left: 413px;
	animation: rr 3s 1.5s infinite ease-in;
}
#rain5{
	position: absolute;
	left: 489px;
	animation: rr 3s 2.4s infinite ease-in;
}

#rain6{
	position: absolute;
	right: 212px;
	animation: rr 3s 2.3s infinite ease-in;
}

#rain7{
	position: absolute;
	right: 285px;
	animation: rr 3s 0.3  infinite ease-in;
}
#rain8{
	position: absolute;
	right: 359px;
	animation: rr 3s 1.8s infinite ease-in;
}
#rain9{
	position: absolute;
	right: 435px;
	animation: rr 3s 2.6s infinite ease-in;
}
#rain10{
	position: absolute;
	right: 510px;
	animation: rr 3s 0.5s infinite ease-in;
}

#rain11{
	position: absolute;
	right: 594px;
	animation: rr 3s 1s infinite ease-in;
}

@keyframes rr{
			from{bottom: 2000px;} to{bottom: 500px;}
		}


#tree1{
	position: absolute;
	left: -63px; top: -10px; 
	transition: all 2s; transform: rotateY(10deg);
	animation: treemove 2s infinite linear alternate;
}

#tree1_1{
	position: absolute;
	right: -63px; top: -10px;
	animation: treemove-e 2s infinite linear alternate;
	}

@keyframes treemove { 
				to {transform: rotate(10deg); position: absolute; z-index: 0;}
				from{transform: rotate(0deg); position: absolute; z-index: 0;}
			}

@keyframes treemove-e { 
				to {transform: rotate(-10deg); position: absolute; z-index: 0;}
				from{transform: rotate(0deg); position: absolute; z-index: 0;}
			}

#bigcell{
	position: absolute;
	right: -80px;
	top: 1120px;
	animation: treemove-e 0.5s infinite linear alternate, bigcell 0.2s infinite linear alternate;
}
@keyframes bigcell { 
				to {position: absolute; z-index: 0; right: -6%}
				from{position: absolute; z-index: 0; right: -3%}
			}


#bigcell2{
	position: absolute;
	left: 84px;
	top: 2072px;
}

#circle1{
	position: absolute;
	left: -280px;
	top: 1700px;
	animation:io 8s infinite linear;
}

@keyframes io { 
				to {transform: rotate(-0deg); position: absolute; z-index: 0;}
				from{transform: rotate(-360deg); position: absolute; z-index: 0;}
			} 

#circle1_1{
	position: absolute;
	right: -280px;
	top: 2000px;
	animation:lo 8s infinite linear;
}

@keyframes lo { 
				to {transform: rotate(0deg); position: absolute; z-index: 0;}
				from{transform: rotate(360deg); position: absolute; z-index: 0;}
			} 

#human{
	position: absolute;
	left: calc(50% - 311.5px);
	top: 2330px;


}

#human1{
	position: absolute;
	left: calc(50% - 311.5px);
	top: 2330px;
	cursor:pointer;

}


#human1-1{
	position: absolute;
	left: calc(50% - 311.5px);
	top: 2330px;
	cursor:pointer;
	opacity: 0%;
	transition: all 0.5s;
}

#human1-1:hover{
	opacity: 100%;
}

#human{
	filter: brightness(50%);
	transition: all 0.5s;

}
#human:hover{
	filter: brightness(100%);

}


#eye_circle{
	position: absolute;
	width:22px; height:22px;
	left: 520px; top: 3160px;
	background: black;
	border:1px solid #B42840;
	border-radius:75px;
	animation: so 5s linear infinite alternate;
}

#eye_circle2{
	position: absolute;
	width:22px; height:22px;
	right: 520px; top: 3160px;
	background: black;
	border:1px solid #B42840;
	border-radius:75px;
	animation: so 5s linear infinite alternate;
}

@keyframes so { 
				to {transform: translateX(-65%); position: absolute; z-index: 0;}
				from {transform: translateX(65%); position: absolute; z-index: 0;}
			} 

#circle2{
	position: absolute;
	left: -280px;
	top: 3450px;
	animation:lo 8s infinite linear;

}

#circle2_1{
	position: absolute;
	right: -280px;
	top: 3450px;
	animation:io 8s infinite linear;
}

#hand1{
	position: absolute;
	right: 210px;
	top: 3250px;
}

#hand1-1{
	position: absolute;
	left: 210px;
	top: 3250px;
		/*좌우반전*/
	 -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#hand2{
	position: absolute;
	right: -50px;
	top: 3080px;

}
#hand3{
	position: absolute;
	left: -50px;
	top: 2940px;
	/*좌우반전*/
	 -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

}

#hand4{
	position: absolute;
	left: -50px;
	top: 4000px;
}

#hand4-1{
	position: absolute;
	right: -50px;
	top: 4000px;
	/*좌우반전*/
	 -moz-tranform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#hand5{
	position: absolute;
	left: 210px;
	top: 3800px;

}

#hand5-1{
	position: absolute;
	right: 210px;
	top: 3800px;
/*좌우반전*/
	 -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#tree2{
	position: absolute;
	left: -40px; top: 2400px; 
	animation: treemove 0.5s infinite linear alternate;
}

#tree2_1{
	position: absolute;
	right: -40px; top: 2740px;
	animation: treemove-e 0.5s infinite linear alternate;
}


#scull{
	position: absolute;
	left: calc(50% - 583px);
	top: 4300px;
}

#bigcell3{
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(50% - 150px);
	bottom: 800px;
}

#tree3{
	position: absolute;
	left: -63px; bottom: -3px;
	animation: treemove-e 2s infinite linear alternate;
}

#tree3_1{
	position: absolute;
	right: -63px; bottom: -3px; 
	animation: treemove 2s infinite linear alternate;
}

/*텍스트 css*/

.spanclass{
	background: black;
	padding: 2px;
}

.textbox{
	position: absolute;
	width: 500px; height: 200px;
	background: black;
	padding: 20px; 
	left: calc(50% - 250px);
	opacity: 0%;

}


.maintext{
	width: 500px; height: 100px;
	font-size: 16px; left: calc(50% - 250px);
	top: 50px;
	position: absolute;
	text-align: center;
}

.button1{
	border: none;
	outline: none;
	background: black;
}

.next_botton{
	font-size: 16px;
	color: white;
	padding: 5px;
	right: 20px; bottom: 20px;
	position: absolute;
	line-height: 15px;
	opacity: 50%;
	cursor:pointer;
}

.next_botton:hover{
	opacity: 100%;
}

#d_textbox1{
	top: 220px;
}

#d_textbox2{
	top: 2200px;
	opacity: 0%;
}

#d_textbox3{
	top: 4200px;
}


#text1{
	top: 70px;
}

#text2{
	top: 440px;
}

#text3{
	top: 2300px;
	left: 20px;
}

#text4{
	top: 2580px;
	left: 700px;
}

#text5{
	top: 4400px;
}